h1 {
    font-family: arial;
}
html, body {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-color: black;
}

object {
    border-radius: 10px;
    max-height: 100%;
}

#rainbow {
    background-color:white;
}

#circular {
    border-style: solid;
    border-color: white;
    border-width: 0.5px;
}