@media screen and (orientation: portrait) {
    .titlebar {
        width: 100%;
        height: 10%;
        float:left;

    }
    h1 {
        font-family: arial;
        font-size: 1.5em;
        color: white;
    }
    html {
        width: 100%;
        height: 100%;
    }
    
    body {
        background-color: black;
        width: 100%;
    }
    
    .content{
        width: 100%;
        display:flex;
        flex-flow: row wrap;
        align-content: flex-start;
        position: relative;
        
        left:-5px;
        float: left;
    }

    .content:nth-child(2n){
        flex-grow: 2;
    }
    
    .entry {
        display: flex;
        flex-basis:content;
        flex-grow:1;
    }


    #happypod{
        order: 2;
        flex-grow:2;
    }


    #pattern {
        order: 4;
        flex-grow:3;
    }

    #circular {
        order: 1;
    }

    #orbit {
        order: 6;
    }
    
    object {
        border-radius: 10px;
        max-height: 100%;
    }
    
    #rainbow {
        background-color:white;
        order: 3;
    }
    
    #circular {
        border-style: solid;
        border-color: white;
        border-width: 0.5px;
    }    
}

@media screen and (orientation: landscape) {
    .titlebar {
        width: 100%;
        height: 10%;
        float:left;

    }
    h1 {
        font-family: arial;
        font-size: 0.75em;
        color: white;
    }
    html {
        width: 100%;
        height: 100%;
    }
    
    body {
        background-color: black;
        width: 100%;
    }
    
    .content{
        width: 100%;
        display:flex;
        flex-flow: row wrap;
        align-content: flex-start;
        position: relative;
        left: -7.5px;
        float: left;
    }
    
    .entry {
        display: flex;
        flex-basis:content;
        flex-grow:1;
    }


    #happypod{
        order: 2;
        flex-grow:2;
    }

    #rainbow{
        order:3;
    }

    #pattern {
        order: 4;
        flex-grow:3;
    }

    #circular {
        order: 1;
    }

    #orbit {
        order: 5;
    }
    
    object {
        border-radius: 10px;
        max-height: 100%;
    }
    
    #rainbow {
        background-color:white;
    }
    
    #circular {
        border-style: solid;
        border-color: white;
        border-width: 0.5px;
    }    
}